body {
    background-image: url("./assets/Images/backgroundPallete.png");
    /* text-align: center; */
}

#patch-notes-overlay {
    display: grid;
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background-color: rgb(0,0,0,0.7);
    z-index: 109;
}

#patch-notes-block {
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    max-height:90%;
    max-width: 75%;
    overflow: auto;
}

#root {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#patch-notes-block label {
    font-weight: bold;
    text-align: left;
    color: red;
}
#patch-notes-block li {
    text-align: left;
    padding: 0.25rem
}

#wasd-arcade-button {
    padding: 30px;
    background-color: lightseagreen;
}

#placeholder {
    display: flex;
    position: fixed;
    justify-content: center;
    font-size: 72px;
    color: blue;
    background-color: silver;
    padding: 10px;
}

#main-info {
    color: blue;
    font-size: xx-large;
}

.app-message-display {
    background-color: rgb(255, 240, 240);
    padding: 1px;
    border-radius: 3px;
}

.default-button {
    margin: 20px;
    border-radius: 10px;
    padding: 50px;
    background-color: #ADD8E6;
    font-size: x-large;
    align-items: center;
}

.refresh {
    margin-left: 75%;
    padding: .5rem;
    justify-content: flex-end;
    background-color: turquoise;
}

.default-button:hover {
    border-radius: 10px;
    background-color: blue;
    font-size: x-large;
}

#resume-button {
    text-align: center;
    padding: 10px;
}

#player-name {
    font-size: large;
    border-radius: 3px;
}

#enter-name {
    font-size: x-large;
    color: blue;
}

section {
    background-color: silver;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#page-body {
    background-color: grey;
    width: 95%;
    /* padding-right: 30px;
    padding-left: 30px; */
}

#accept-game-controls {
    justify-content: center;
}

#leaderboard-page {
    overflow:hidden;
}

#game-container, #options-menu {
    display: flex;
}

#controls-container {
    display: flex;
    justify-content: center;
}

#fps-display {
    font-size: x-small;
    text-align: left;
    padding-top: 5px;
}

#left-column, #right-column {
    display: flex;
    flex: 50%;
    flex-direction: row;
    justify-content: center;
}

.pause-buttons {
    flex: 33%;
    padding: 10px;
    max-height: 70px;

    justify-content: center;
}

#column1, #column2, #column3 {
    flex: 33%;
    justify-content: center;

}

#column1, #yes-option {
    display: flex;
    padding-left: 3rem;
    margin: auto 0;
    justify-content: center;

}

#column2 {
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
}

#column3, #no-option {
    display: flex;
    padding-right: 2rem;
    margin: auto 0;
    top: 50%;
}

form label {
    font-size: large;
}

label {
    padding: 10px;
}

header {
    background-color: grey;
    text-align: center;
    top: 0;
    display: block;
}

#home-page {
    text-align: center;
}

#home-page p {
    text-align: left;
}

#scoring-page {
    text-align: center;
}

#ranked-scores-display {
    color: blue;
}

#score {
    font-size: x-large;
    color: blueviolet;
}

#best-scores-table {
    max-width: 75%;
    margin: 0 auto;
    padding-left: 2em;
}

table {
    display: flex;
    border-collapse: collapse;
    justify-content: center;
  }

  td, th {
    border: 2px solid black;
    font-family: arial, sans-serif;
    font-size: large;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #ADD8E6;
  }
  tr:nth-child(odd) {
    background-color: whitesmoke;
  }

iframe {
    display: flex;
    padding: 30px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 10px solid burlywood;
    min-width: 70%;
    max-width: 85%;
}

#high-score-display {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

p {
    text-indent: 50px;
    font-size: large;
    line-height: 1.2;
}

#bugs-page li {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: blue;
}

#controls {
    list-style-type: none;
    font-size: large;
    text-align: center;
}

select {
    display: flex;
    padding: 1px;
    overflow: auto;
}

#gamepad-swap {
    text-align: center;
}

#home-page h3 {
    text-align: left;
    text-indent: 50px;
}

#left-hud-elements h2 {
    text-align: center;
    font-size: x-large;
    color:black;
}

#left-hud-elements {
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 10px;
    width: 80%;
}

#right-hud-elements {
    border: 1px solid black;
    padding-bottom: 1rem;
}

#right-hud-elements h2 {
    text-align: center;
    font-size: large;
    color: blue;
}

#right-hud-elements ol {
    color: blue;
}

#right-hud-elements li {
    text-align: center;
    color: black;
    padding-right: 1rem;
}

#nav-message {
    color: orange;
}

#vl {
    border-left: 1px solid black;
    padding: 10px;
    height: 200px;
}

footer {
    color: purple;
    text-align: center;
    padding: 10px;
    display: block;
}

.stats {
    text-align: center;
    color: purple;
    font-weight: bold;
    /* font-size: large; */
}

#nav-bar {
    font-size: 1vw;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    top: 0;
    align-items: center;
}

#nav-bar ul {
    font-size: x-large;
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
  }

  #nav-bar li {
    float: left;
  }

  #nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  #nav-bar li a:hover {
    background-color: #111;
  }
