body {
    background-color:grey;
    text-align: center;
}

header {
    text-align: center;
    display: block;
}

canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    outline: 10px;
    outline-color: white;
}

h1 {
    color: blue;
}

h2 {
    color: white;
}

h3 {
    color: brown;
}

#high-scores {
    text-align: center;
}

#nav-message{
    color: orange;
}

footer {
    color: purple;
    text-align: center;
    padding: 10px
}

.stats {
    text-align: center;
    color: purple;
    font-weight: bold;
    /* font-size: large; */
}

canvas {
    outline: red solid 2px;
}

#nav-bar {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: ;
    align-items: center;
}

#nav-bar ul {
    font-size: x-large;
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
  }

  #nav-bar li {
    float: left;
  }

  #nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  #nav-bar li a:hover {
    background-color: #111;
  }
